.container {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 25px;
}

a {
  text-decoration: none;
}
body {
  background: linear-gradient(to bottom, #68eacc 0%, #497be8);
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .app_block {
    .container {
      .title {
        text-align: center;
        h1 {
          font-size: 30px;
          font-weight: 600;
        }
      }
      .input_field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        width: 100%;
        margin: 20px 0;
        input {
          width: 85%;
          height: 100%;
          border: 1px #ccc solid;
          font-size: 17px;
          border-radius: 3px;
          padding-left: 15px;
          &::placeholder {
            font-size: 15px;
          }
        }
        button {
          width: 50px;
          height: 100%;
          background: #8e49e8;
          color: #fff;
          font-size: 22px;
          cursor: pointer;
          border-radius: 3px;
          margin-left: 5px;
        }
      }
      .todo_list {
        max-height: 250px;
        overflow-y: auto;
        li {
          height: 45px;
          line-height: 45px;
          position: relative;
          background: #f2f2f2;
          border-radius: 3px;
          margin-bottom: 10px;
          padding: 0px 15px;
          cursor: pointer;
          overflow: hidden;
          &:hover span {
            right: 0px;
          }
          &:hover span.edit_btn {
            right: 50px;
          }
          .delete_btn {
            position: absolute;
            right: -95px;
            text-align: center;
            color: #fff;
            background-color: #e74c3c;
            width: 45px;
            border-radius: 3px;
            transition: all 0.3s ease;
            cursor: pointer;
          }
          .edit_btn {
            position: absolute;
            right: -45px;
            color: #fff;
            width: 45px;
            text-align: center;
            border-radius: 3px;
            background: #df7401;
            cursor: pointer;
          }
          .check_box {
            margin-right: 5px;
            color: #fff;
            width: 25px;
            text-align: center;
            border-radius: 3px;
            background: #b40486;
            cursor: pointer;
            padding: 2px;
          }
        }
        .checked {
          color: #ccc;
          text-decoration: line-through;
          span:not(.check_box) {
            display: none;
          }
          .check_box {
            opacity: 0.6;
            background: #ccc;
            text-decoration: line-through;
          }
        }
      }
      .footer {
        width: 100%;
        margin-top: 20px;
        .footer_btn {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            width: 90px;
            height: 100%;
            background: #8e49e8;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
            border-radius: 3px;
            padding: 5px 10px;
          }
          .check_all {
            margin-left: 10px;
          }
        }
      }
      li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
      }
    }

    .bottom_btn {
      text-align: center;
      padding: 10px;
      button {
        padding: 5px 10px;
        color: white;
        cursor: pointer;
        background-color: black;
      }
      .checkAll {
        margin-right: 10px;
      }
    }
  }
}
