body {
  margin: 0;
  font-family: potify-circular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
ol,
ul {
  list-style: none;
}

button,
input {
  outline: none;
  background-color: none;
  border: none;
}
